header {
    background-color: #1f1e1e;
}

.navbar {
    margin-bottom: 0px;
}

div.collapsed {
    display: block;
}

.navbar a {
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar-header {
        border-bottom: 1px solid;
    }
    .navbar-collapse {
        box-shadow: none;
    }
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: dimgray;
}

.icon-bar {
    background-color: white;
}