<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">

  <app-header></app-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="text-center hidden-xs">
        {{ copyright }}.
        Desenvolvido por <b>Guilherme Gomes de Lima</b>
      </div>
    </div>
  </footer>
</div>
